version: "3.9"

services:
  api:
    build: .
    container_name: notes_fast-api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: notes_fast-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
